.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row;
    max-width: 1300px;
}

.selected {
    color: var(--main-color);
}

.logo {
    margin: 10px;
    margin-right: auto;
}

.navbar a {
    margin: 10px;
}

.logo img{
    width: 150px;
}

.navbar button.btn {
    font-size: 17px;
    height: 38px;
}

