.navbar {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row;
}

.selected {
    color: var(--main-color);
}

.logo {
    margin: 10px;
    margin-right: auto;
}

.navbar a {
    margin: 10px;
}

.logo img{
    width: 150px;
}

