.btn {
    padding: 6px 10px;
    color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 50px;
    transition: all 0.15s ease-in-out;
}

.btn:hover {
    background-color: var(--main-color);
    color: var(--background-color);
}

.btn-filled {
    background-color: var(--main-color);
    color: var(--background-color);
}