@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    margin: 0;
    font-family: "Poppins";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --main-color: #00ffd2;
    --background-color: #1B1B1B;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
a:hover {
    color: var(--main-color)
}